.section_heading {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--white-color);
    margin-bottom: 4em;
}

.section_heading p {
    max-width: 500px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin: 1em auto;
    text-align: center;
  }