.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 80px;
}

.navbar_logo {
  width: 100px;
}

.navbar_search {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.navbar_search input {
  width: 100%;
  height: 50px;
  padding: 13px 26px;
  background: #ffffff;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  border: none;
  border-radius: 20px;
}

.navbar_search input[type= "text"]:focus {
  border: none;
}

.navbar_search input[type= "text"]:focus-visible {
  border: none;
}

.navbar_search input[type= "text"]:active {
  border: none;
}

.navbar_ctas {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar_ctas a {
  font-weight: 700;
}

.logout_cta {
  font-weight: 700;
  font-size: 1rem;
}

.navbar_ctas li:nth-child(even) {
  margin: 0 15px;
}

.navbar_icon {
  width: 35px;
  margin-right: 5px;
}

.navbar_icon.adjust {
  margin-bottom: 5px;
}

@media  only screen and (max-width: 1023px) {

  .navbar_search {
      width: 300px;
  }

    .navbar_ctas_text .txt {
        display: none;
    }

    .navbar_ctas .btn_large {
        width: 80px !important;
    }
}

@media only screen and (max-width: 650px) {
    .navbar {
        margin-bottom: 3.5em;
    }
  
    .navbar_search {
        position: absolute;
        top: 80px;
        left: 50%;
        right: 50%;
        width: 250px;
        transform: translateX(-50%);
        z-index: 0;
    }

    .navbar_search input {
        height: 40px;
    }

    .navbar_ctas li:nth-child(even) {
        margin: 0 15px;
      }
}
